/* Головні стилі */
:root {
    --primary-gray-color: #212121;
    --accent-text-color: #2196F3;
    --paragraph-text-color: #757575;
    --title-white-color: #FFFFFF;
    --bcg-color-gray: #2F303A;
    --secong-bcg-color: #F5F5F5;
    --logo-black-color: #000000;
    --third-bcg-color: #F5F4FA;
}

body {
    color: var(--primary-gray-color);
    background-color: var(--title-white-color);
    font-family: Roboto, sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Стилі для шапки сайту */

.logo-link {
    color: var(--accent-text-color);
    font-family: 'Raleway';
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}

.logo-header {
    color: var(--logo-black-color);
}

.logo-link:hover,
.logo-link:focus {
    color: var(--accent-text-color);
}

/* Навігація */

.header-nav .link.current {
    color: var(--accent-text-color);
}

ul {
    list-style: none;
}

.header-nav .link {
    color: var(--primary-gray-color);
    text-decoration: none;
        font-weight: 500;
        line-height: 1, 14;
        letter-spacing: 0.02em;
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-text-color);
}

.contacts-list .link {
    color: var(--paragraph-text-color);
    text-decoration: none;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--accent-text-color);
}

/* Футер */

.footer {
    background-color: var(--bcg-color-gray);
}

.footer .link-adress {
    color: var(--title-white-color);
    text-decoration: none;
    }
    
    .footer .link {
        font-size: 14px;
        line-height: 1.71;
}