/* Портфолiо сайту */

.list-of-buttons .btn {
background-color: var(--third-bcg-color);
cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.list-of-buttons .btn:hover,
.list-of-buttons .btn:focus {
color: var(--title-white-color);
    background-color: var(--accent-text-color);
}

.projects .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects .project-item {
color: var(--paragraph-text-color);
font-size: 16px;
    line-height: 1.88;
}
